/// FORMULARIO - MODAL AUTO - SECTION 0 - FACTURAS

form#idFormRemoveFactura, form#idFormRemoveServicio, form#idFormEditServicio {

    display: grid;
    grid-template-columns: 1fr;
    
    h3 {
        padding: 1em;
        text-align: center;
    }

    div#idContainerSubmitServicio {
        text-align: center;
        margin-bottom: 3em;
        
        input {
            padding: 0.5em;
            gap: 3em;
        }
    }
}