ul.oculto {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(40px, 1fr));
    
    li:last-child { /// ocultamos el boton edit y delete
        //display: none;
        text-align: end;
    }
}