@media screen and (width >= $width__mobile) {
    
    body {
        font-size: 12px !important;
    }

    /// tamaño de los iconos
    .material-symbols-outlined {
        font-size: 16px !important;
    }

    nav#idContainer__navBarTop {
        ul {
            margin: 0 auto;
        }
    }

    nav#idContainer__navBarBottom {
        position: fixed;
        bottom: 0;
        left: 0;
        
        ul {
            margin: 0 auto;
        }
    }

    .navbar__top_mobile {
        display: grid !important;
    }

    .navbar__top_desktop {
        display: none !important;
    }


    /// Esta clase, se usa para destacar la nueva factura creada
    /// durara en torno a 2 seg activa, puesta y quitada mediante JS
    /* main#idContainer__contenido {

        ul:nth-child(2) {
            border: 4px solid rgb(42, 83, 38) !important;
            background-color: rgb(124, 159, 118);
            color: white
        }
    } */
}